<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>游玩</title>
</head>
<body>
<form action="/gamec" method="post">
    <a href = "/chushi">退出</a>
    请不要在输入数字的时候输入除数字外其他的字符！！！
    请输入竞猜数字（0-8800）：<input type="text" name="jingcaishu"><br/>
    请输入底数：<input type="text" name="dishu"> <br/>
    请输入次数：<input type="text" name="cishu"> <br/>
    <input type="submit" value="提交"><br/>
    </form>
    {{jieguo}} <br/>
    正确数字：{{suijishu}}<br/>
    你输入的数字：{{jingcaishu}}<br/>
    {{ha}}<br/>

</body>
</html>