<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改数据</title>
</head>
<body>
<form action="/guanliyuan/xiugai/chuli" method="post">
    <a href="/guanliyuan/">退出</a> <br/>
    uid<input type="text" name="uid">  <br/>
    修改项<input type="text" name="xiugaixiang">  <br/>
    修改值<input type="text" name="zhi">     <br/>
    管理员工号<input type="text" name="gonghao">   <br/>
    <input type="submit" value="提交">   <br/>
    {{jieguo}}
</form>>
</body>
</html>