<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆界面</title>
</head>
<body>
    <form action="/denglu" method="POST">
        uid  <input type="text" name="name"> <br/>
        密码  <input type="password" name="mima"> <br/>
        <input type="submit" value=登录><br/>
        <a href = "/guizedeng">查看游戏规则 </a><br/>
        <a href = "/chushi">如果您已经登录成功的话，点我进入</a> <br/>>
        <a href = "/zhuce">没有账号？注册一个</a> <br/>
        {{a}}<br/>
        {{zhuce}}<br/>
        {{uuid}}<br/>
        {{chenggong}}<br/>

    </form>

</body>
</html>